*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};

html , body {
    height: 100vh;
};

#header {
    padding: 0.5rem 1rem;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 15px rgb(11, 151, 53);
};

#categoria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}